<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  
  <title>Inventory Management System</title>
</head>
<body>
  <center>
        <a href="{% url 'main:search' %}"><h5>Home</h5></a>
        <a href="{% url 'main:profile' request.user.id %}"><h5>My Profile</h5></a>
        <a href="{% url 'main:editprofile' %}"><h5>Edit Profile</h5></a>
        <a href="{% url 'main:issueances' 2 %}"><h5>Issued Equipments</h5></a>
        <a href="{% url 'main:logout' %}"><h5>Logout</h5></a>
      </center>
  <div class="container">
    <br>
    {% block content %}{% endblock content %}
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% block script %}{% endblock script %}
</body>
</html> 
