<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  
  <title>Inventory Management System</title>
</head>
<body>
  <center>
        <a href="{% url 'main:search' %}"><h5>View Inventory</h5></a>
        <a href="{% url 'main:allissueance'  %}"><h5>Issued Equipments</h5></a>
        <a href="{% url 'main:logout' %}"><h5>Logout</h5></a>
      </center>
  <div class="container">
<form action="{% url 'main:admprofile' %}" >
  <label for="exampleInputEmail1">Enrollment No.</label>
            <input type="number"   name="enrollment_no">
            <input type = "submit">
</form>
    <br>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</body>
</html> 