{% extends 'main/base.html' %}

{% load static %}
{% block content %}
    <form method="post" action=".">
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="">
</form>




<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
<script type="text/javascript" src="/admin/jsi18n/"></script>

<script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>


<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/SelectBox.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/SelectFilter2.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/widgets.css' %}" />

{{ form.media }}
{% endblock %}